.flex-container {
  background-color: rgba(0, 0, 0, .05);
  box-sizing: border-box;
  padding: 10px;
  /* modifique o container dessa linha pra baixo */
  display: flex;
}

.flex-item {
  background: rgba(0, 0, 255, 0.333);
  border-radius: .25rem;
  border: 1px solid rgba(0,0,0,.225);
  box-sizing: border-box;
  margin: 5px;
  padding: 50px;
  /* modifique os itens dessa linha pra baixo */
  flex-grow: 1;
}
